body{
    margin: 0;
    padding: 0;
}

.frame{
    width: 1200px;
}



/* ///////////////HEADER start/////////////// */
header{
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
header a{
    text-decoration: none;
    color: black;
}
header a:hover{
    color: #5C8692;
    transition: 0.5s ease;
}

.logo{
    width: 652.59px;
    height: 65px;
    display: flex;
    align-items: center;
}
.logo span{
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}
   
.logo img{
    width: 100px;
    height: 100px;
}

.menu{
    width: 727.41px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu img{
    width: 30px;
    height: 30px;
}
.menu img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.burger{
    display: none;
}

.hiddenMenu{
    display: none;
}




/* ///////////////HEADER end/////////////// */

/* ///////////////1-st Page start/////////////// */
.firstPage{
    height: 855px;
    background-color: #EBF3F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    height: 855px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.leftPart{
    width: 592px;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.leftPart span {
    opacity: 0;
    transform: translateY(-150px);
    transition: opacity 2.5s ease, transform 2.5s ease;
}

.leftPart span.show {
    opacity: 1;
    transform: translateY(-50px);
}

.topText{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #5C8692;
}
.midText{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 55px;
    color: #141414;
}
.bottomText{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #555555;
}
.blink{
    animation: blinking 0.3s infinite alternate;
}
@keyframes blinking{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.rightPart{
    width: 592px;
    height: 645px;
}

.rightPart  {
    opacity: 0;
    transform: translateY(160px);
    transition: opacity 2.5s ease, transform 2.5s ease;
}

.rightPart.show {
    opacity: 1;
    transform: translateY(-50px);
}

.inner{
    width: 550px;
    height: 545px;
    position: relative;
    bottom: 600px;
    right: 20px;
    background-image: url('images/variant2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: -115px 25px; */
   
}

/* ///////////////1-st Page end/////////////// */



/* ///////////////////////ABOUT US PAGE START */
.aboutUsPage{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}

.topPart{

height: 85px;

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.largeTxt{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 45px;
    color: #141414;
}

.smallTxt{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #5C8692;
}

                 
.bottomPart{
    
    height: 468px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
 }


 
 .fact{
    width: 373.33px;
    height: 209px;
   
 }
 .geometry{
    width: 94px;
    height: 94px;
    border: 2px solid #5C8692;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .backgroundFill{
    background-image: url('images/RectangleMini.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .backgroundFill img{
    width: 40px;
    height: 40px;
    transition: 1s ease;
 }
 .backgroundFill img:hover{
    transform: rotate(180deg);
 }

 .factDesc{

 }
 
.factDesc span{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 26px;
    color: #141414;
 }
 .factDesc p{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
 }

 .fact {
    opacity: 0; /* Начальная непрозрачность */
    transition: opacity 0.5s ease; /* Добавление плавной анимации */
}

.animate {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ///////////////////////ABOUT US PAGE END */




/* ///////////////2-nd Page start/////////////// */

.reverse{
    display: flex;
    flex-direction: row-reverse;
}
.secondPage{
    /* height: 100vh; */
    background-color: #EBF3F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.pageTitle{
    
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortDescription{
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-size: 45px;
    color: #141414;
    
}

.shortDescription {
    overflow: hidden;
    position: relative;
    width: 0;
    height: 100%; 
    transition: width 1s ease;
}

.shortDescription.active {
    width: 100%;
}

.workExample{
    height: 650px;
    margin-top: 10px;
    display: flex;
    margin: 0;
}
/* .workExample:nth-child(even){
    flex-direction: row-reverse;
} */

.workExImg{
    
    width: 50%;
    height: 100%;
    background: url('images/gif/loading.gif') center / 50px no-repeat;
    box-shadow: 4px 4px 10px #000000;
    position: relative;
}

.workExImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
}

.workExDescription{
   
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.points  {
    list-style-type: none;
}
.points li{
    /* border-bottom: #141414 3px solid; */
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #5C8692;
    line-height: 27px;
    letter-spacing: 0.36px;
}
.squareBottom, .squareTop{
    width: 90px;
    height: 90px;
    background-image: url('images/square.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.hideSquare{
    opacity: 0;
} 
.placeholderSquareTop{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}



/* ///////////////2-nd Page end/////////////// */

/* /////////////////////reviewPage start ///////////////////////////////////////// */

.reviewPageSection{
    
        border: 1px solid black;
        height: 100vh;
    
}






/* /////////////////////reviewPage start ///////////////////////////////////////// */

/* ////////////////////////////infoPageSection start //////////////////////////// */

.infoPageSection{
    
    border: 1px solid black;
    height: 100vh;

}


/* ////////////////////////////infoPageSection start //////////////////////////// */


/* /////////////////////contacts start ///////////////////////////////////////// */

.contactsPageSection{
    
    border: 1px solid black;
   height: 250px;
   background-color: #1E2C30;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   align-items: center;

}
.bottomDecor{
    height: 62px;
    background-color: #111E22;
}

.contactsContent{
    height: 413px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactsTop{
 border-bottom: 1px solid #fff;
 height: 85px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.socialMedia{
    background-image: url('images/RectangleforFooter.png');
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
   
}

.socialMedia:hover{
    transform: scale(1.2);
}

.linksToSocial{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}
.socialMedia img {
    width: 20px;
    height: 20px;
    
}

.contactsBottom{
    
    height: 265px;
}




.bottomLogo{
    width: 55px;
    height: 55px;
    background-image: url('images/KULIKOVA.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bottomDecor{
    text-align: center;
    width: 100%;
}

/* /////////////////////contacts end ///////////////////////////////////////// */